{{page-title "Ex1"}}
<div class="card-body">
  <Textarea maxlength = {{this.max}} class ="form-control" @value={{this.content}}/>
  <h2>{{this.content}}</h2>
  <div class="alert alert-info">Nombre de charactère restant : {{this.size}}</div>
  <div class="alert alert-{{this.style}}">{{this.modif}}</div>
</div>
<div {{action "save" this.content}}class="btn btn-primary">Enregistrer</div>
<div {{action "test"}} class="btn btn-primary">Effacer</div>
{{outlet}}
